
/* All links */
a {
  color: #7c480d;
  font-weight: 500;
}

/* Links in main text (not navigation) */
main a {
  text-decoration: underline;
}

/* I don't like the frame around images */
.inline-figure {
  border: none;
}

/* Blocks with shadow borders */
.shadow {
  -moz-box-shadow:    3px 3px 3px 5px #bbb;
  -webkit-box-shadow: 3px 3px 3px 5px #bbb;
  box-shadow:         3px 3px 3px 5px #bbb;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/* Several kinds of boxes */

.rmdbox {
  margin: 1rem calc(-2px - 0.5em);
  padding: 1em 1em 1em 1em;
  border: 2px solid #ccc;
  background: #f8f8f8 5px center/3em no-repeat; 
}

.rmdbox > *:last-child {
  margin-bottom: 0;
}

@media (max-width: 767.98px) {
  .rmdbox, .rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
    margin: 1rem -1rem;
    border-width: 4px;
  }
}

.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 6em;
  background: #f8f8f8 25px center/3em no-repeat; 
}

.rmdcaution {
  background-image: url("images/caution.png");
}

.rmdimportant {
  background-image: url("images/important.png");
}

.rmdnote {
  background-image: url("images/note.png");
}

.rmdtip {
  background-image: url("images/tip.png");
}

.rmdwarning {
  background-image: url("images/warning.png");
}

/* Section headers */

.header-section-number {
  padding-right: .2em;
}

.level1 > h1 {
  box-sizing: border-box;
  font-weight: normal;
  border-bottom: 3px solid;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 0;
}

h1 > .header-section-number {
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 8px solid;
  margin-bottom: -2px;
  padding-bottom: 0;
  color: #212529;
}

.level2 > h2 {
  box-sizing: border-box;
  font-weight: normal;
  border-bottom: 2px solid;
  margin-top: .8em;
  margin-bottom: .8em;
  padding-bottom: 0;
}

h2 > .header-section-number {
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 6px solid;
  margin-bottom: -2px;
  padding-bottom: 0;
  color: #212529;
}

.level3 > h3 {
  font-weight: 500;
  font-style: italic;
  border-bottom: 0;
}

h3 > .header-section-number {
  font-style: italic;
  font-weight: 500;
  border-bottom: 0;
  color: #212529;
}

.level4 > h4, .level5 > h5, .level6 > h6 {
  font-weight: normal;
  font-style: normal;
  border-bottom: 0;
}

.level4 > .header-section-number{
  font-style: normal;
  border-bottom: 0;
  color: #212529;
}

.rmdbox > h3,
.rmdcaution > h3,
.rmdimportant > h3, 
.rmdwarning > h3,
.rmdtip > h3,
.rmdnote > h3,
.rmdbox > h4,
.rmdcaution > h4,
.rmdimportant > h4, 
.rmdwarning > h4,
.rmdtip > h4,
.rmdnote > h4 
{
  margin-top: 0;
}


/* Misc */

/*
p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

blockquote > p:last-child {
  text-align: right;
}

blockquote > p:first-child {
  text-align: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}
*/

/* Utilities */

.flushright {
  text-align: right;
}

.smallcaps {
  font-variant: small-caps;
}

.full-width{
  width: 100%;
}

.half-width{
  width: 50%;
}

.one-third-width{
  width: 33%;
}

.two-thirds-width{
  width: 67%;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.center{
  display: block;
  margin: auto;
}

.vspace{
  height: 2em;
}

/* highlight */
.hl{
  background-color: yellow;
}

.framed {
  border: solid 2px #f1f1f1;
}

