
/* Links in main text (not navigation) */
main a {
  text-decoration: underline;
}

/* Source code */
/*

+ bs4book has code with negative side margins! Make them smaller

+ Also, add border and rounded corners

*/
pre.sourceCode {
  margin: 0 -.5rem 1rem -.5rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

/* Fix bottom margin in output blocks (book) */
div.sourceCode + pre {
  margin-bottom: 40px;
}


